{% extends "base.html" %}

{% block content %}

<!-- for loading download history data into modals -->
<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

<div style="margin-top: 50px;" class="ui container">
    <h1 class="ui center aligned header">Music Service</h1>

    <form action="/" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.title.label }}<br>
            {{ form.title(size=22) }}<br>
            {% for error in form.title.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.url.label }}<br>
            {{ form.url(size=50) }}<br>
            {% for error in form.url.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>


    <!--
    <form action="/" method="post">
        <div class="mb-3">
            <label class="form-label">Playlist title</label>
            <input type="text" class="form-control" name="title" placeholder="Enter a title..." required><br>
        </div>


        <div class="mb-3">
            <label>URL</label>
            <input type="url" class="form-control" name="url" placeholder="https://www.youtube.com/watch?v=BaW_jenozKc" required><br>
            <div class="invalid-feedback">
                Please enter a valid URL.
            </div>
        </div>
        <button class="btn btn-primary" type="submit">Add</button>
    </form>

    <br>
    -->

    <!-- modal for displaying the historical download logs of playlists -->
      <div class="modal" id="downloadhistorymodal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Download History</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <div id="downloadHistory"></div>
                </div>
            </div>
        </div>
    </div>

    <hr>
    
    <div class="row">
    {% for music in music_list %}
        <div class="col-sm-4 mb-3 mb-sm-0">
            <div class="card" style="width: 18rem;">
                <p class="card-body">{{ music.id }} | {{ music.title }}</p>
                <!-- <p class="card-body">Owner ID is: {{ music.user_id }}</p> -->
                <!-- <p class="card-body">Related MusicTasks are: music.musictasks.id </p>  add brackets arround music.musictasks,id to make it work again-->
                <p class="card-body">Owner relation is: {{ music.musicowner.username }}</p>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">{{music.url}}</li>
                    
                            <!-- <script>
                                $(document).ready(function(){
                                    var musicId = "{{ music.id }}";
                                    var intervalStatusElement = $("#intervalStatus" + musicId);
                                    
                                    // Send a GET request to the server every 10 seconds
                                    function updateIntervalStatus() {
                                        $.get("/intervalstatus/" + musicId, function(data, status){
                                            // Display the result in the p element with the id "intervalStatus" + musicId
                                            $(intervalStatusElement).html(data);
                                        });
                                    }
        
                                    // Update interval status immediately when the page loads
                                    updateIntervalStatus();
        
                                    // Update interval status every 10 seconds
                                    setInterval(updateIntervalStatus, 10000);
                                    
                                    // Error handling
                                    $.ajaxSetup({
                                        error: function(jqXHR, exception) {
                                            if (jqXHR.status === 0) {
                                                alert('Not connected.\n Verify Network.');
                                            } else if (jqXHR.status == 404) {
                                                alert('Requested page not found. [404]');
                                            } else if (jqXHR.status == 500) {
                                                alert('Internal Server Error [500].');
                                            } else if (exception === 'parsererror') {
                                                alert('Requested JSON parse failed.');
                                            } else if (exception === 'timeout') {
                                                alert('Time out error.');
                                            } else if (exception === 'abort') {
                                                alert('Ajax request aborted.');
                                            } else {
                                                alert('Uncaught Error.\n' + jqXHR.responseText);
                                            }
                                        }
                                    });
        
                                });
                                </script> -->


                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: 75%;" aria-valuenow="3000" aria-valuemin="0" aria-valuemax="4000" id="intervalStatus{{ music.id }}"></div>
                                    <p>seconds</p>

                                
                                <!-- <div id="intervalStatus{{ music.id }}" class="progress" role="progressbar" aria-label="countdownPlaylist" aria-valuenow= aria-valuemin="0" aria-valuemax="1000">
                                    <div class="progress-bar" style="width: 50%">seconds left</div> -->

                                <!-- <p id="intervalStatus{{ music.id }}"></p> -->
                                
                                <!-- show when the last run was -->
                                <!-- <p id="lastrun{{ music.id }}">Last run: {{ music.lastrun }}</p> -->

                        <!-- <p id="intervalStatus{{ music.id }}"></p> -->
                                </div>
          
                
                {% if music.monitored == False %}
                <form action="/monitor/{{ music.id }}">
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" onChange="this.form.submit()">
                    <label class="form-check-label" for="flexSwitchCheckChecked">Un-monitored</label>
                </div>
                </form>
                
                {% else %}
                <form action="/monitor/{{ music.id }}">
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" onChange="this.form.submit()" checked>
                    <label class="form-check-label" for="flexSwitchCheckChecked">Monitored</label>
                </div>
                </form>
                {% endif %}
                </ul>
                
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#downloadhistorymodal" data-music-id="{{ music.id }}">
                    See downloads logs
                </button>
                
                <!-- health indicators -->

                <p>Last run: </p>

                <p>Interval: {{ music.interval }} minutes</p>

                <p>Next run: </p>
            
                <!-- if job is running, display spinner -->

                {% if music.running == True %}
                <div class="spinner-border" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
                {% endif %}


                <div class="card-body">
                    <!--
                    {% if music.monitored == False %}
                    <a class="btn btn-secondary" href="/monitor/{{ music.id }}">Not monitored</a>
                    {% else %}
                    <a class="btn btn-success" href="/monitor/{{ music.id }}">Monitored</a>
                    {% endif %}
                    -->
                    <a class="btn btn-primary" href="/download/{{ music.id }}">Download</a>
                    <!-- <a class="btn btn-warning" href="/intervalstatus/{{ music.id }}">Intervalstatus</a> -->
                    <a class="btn btn-danger" href="/delete/{{ music.id }}">Delete</a>
                    <br><br>
                    <form action="/interval/{{ music.id }}">
                        <label>Choose an interval:</label>
                        <select name="interval" id="interval">
                            <option selected="selected" hidden>{{ music.interval }}</option>
                            <option value="5">5</option>
                            <option value="10">10</option>
                            <option value="30">30</option>
                            <option value="60">60</option>
                        </select>
                        <input type="submit" value="Save interval">
                        </form>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
</div>


<script type="text/javascript">
        // Show download history in modal
    $('#downloadhistorymodal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget);
        var musicId = button.data('music-id');

        $.get('/download_history/' + musicId, function (data) {
            $('#downloadHistory').empty();
            $('#downloadHistory').append(`
                <table class="table table-striped" id="historyTable">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">ID</th>
                            <th scope="col">Name</th>
                            <th scope="col">Success</th>
                            <th scope="col">Type</th>
                            <th scope="col">Elapsed Time</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            `);
            data.forEach(function (item, index) {
                $('#historyTable tbody').append(`
                    <tr>
                        <th scope="row">${index + 1}</th>
                        <td><a href="/getruninfo/${item.id}">${item.id}</a></td>
                        <td>${item.name}</td>
                        <td>${item.complete ? '<i class="bi bi-check-circle-fill" style="color: green;"></i>' : '<i class="bi bi-x-circle-fill" style="color: red;"></i>'}</td>
                        <td>${item.actiontype ? 'automated' : 'manual'}</td>
                        <td>
                            <span data-bs-toggle="tooltip" data-bs-placement="bottom" title="${moment(item.timestamp).format('YYYY-MM-DD HH:mm:ss')}">${moment(item.timestamp).fromNow()}</span>
                        </td>
                    </tr>
                `);
            });
        });
    });
</script>


{% endblock %}