<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Music Service</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='/images/normalLogo.png') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
</head>

<body>

    <nav class="navbar navbar-secondary bg-secondary">
        <!-- add the image /images/normalLogo.png to the navbar-->

        <a class="navbar-brand" href="/">
            <img src="{{ url_for('static', filename='/images/normalLogo.png') }}" alt="Music Service logo" width="30" height="30" class="d-inline-block align-text-top">
            Music Service
        
        <a href="/settings">
        <button class="btn bi bi-gear-fill" > Settings</button>
        </a>
        
    </nav>

    <div style="margin-top: 50px;" class="ui container">
        <h1 class="ui center aligned header">Music Service</h1>
        <form action="/add" method="post">
            <div class="mb-3">
                <label class="form-label">Playlist title</label>
                <input type="text" class="form-control" name="title" placeholder="Enter a title..."><br>
            </div>
            <div class="mb-3">
                <label>URL</label>
                <input type="text" class="form-control" name="url" placeholder="https://www.youtube.com/watch?v=BaW_jenozKc"><br>
            </div>
            <button class="btn btn-primary" type="submit">Add</button>
        </form>

        <br>


        <hr>
        
        <div class="row">
        {% for music in music_list %}
            <div class="col-sm-4 mb-3 mb-sm-0">
                <div class="card" style="width: 18rem;">
                    <p class="card-body">{{music.id }} | {{ music.title }}</p>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">{{music.url}}</li>
                    {% if music.complete == False %}
                    <li class="list-group-item">Not synced ❌</li>
                    {% else %}
                    <li class="list-group-item">Synced-online ✅</li>
                    {% endif %}
                    </ul>
                    <div class="card-body">
                        {% if music.complete == False %}
                        <a class="btn btn-secondary" href="/update/{{ music.id }}">Not synced</a>
                        {% else %}
                        <a class="btn btn-success" href="/update/{{ music.id }}">Synced</a>
                        {% endif %}
                        <a class="btn btn-danger" href="/delete/{{ music.id }}">Delete</a>
                        <a class="btn btn-primary" href="/download/{{ music.id }}">Download</a>
                        <a class="btn btn-warning" href="/intervalstatus/{{ music.id }}">Intervalstatus</a>
                        <br><br>
                        <form action="/interval/{{ music.id }}">
                            <label for="cars">Choose an interval:</label>
                            <select name="interval" id="interval">
                              <option selected="selected" hidden>{{ music.interval }}</option>
                              <option value="5">5</option>
                              <option value="10">10</option>
                              <option value="30">30</option>
                              <option value="60">60</option>
                            </select>
                            <input type="submit" value="Save interval">
                          </form>
                        <div class="card-footer text-muted">
                            <!-- <p id="intervalStatus"></p> seconds -->
                            <p id="music.id.intervalStatus"></p>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!--
    <script>
    $(document).ready(function(){
        $.get("/intervalstatus/4", function(data, status){
            // Display the result in an HTML element with the id "intervalStatus"
            $("#intervalStatus").html(data);
        });
    });
    </script>
-->
<!--
    <script>
    $(document).ready(function(){
        $(".card-body").each(function() {
            var cardId = $(this).attr('id');
            $.get("/intervalstatus/" + cardId, function(data, status){
                // Display the result in an HTML element with the id "intervalStatus" inside this card
                $("#" + cardId + " .intervalStatus").html(data);
            });
        });
    });
    </script>
-->

    <script>
    $(document).ready(function(){
        $(".card-body").each(function() {
            var musicId = $(this).find('a.btn-warning').attr('href').split('/')[2];
            var intervalStatusElement = $(this).find('.card-footer p');

            $.get("/intervalstatus/" + musicId, function(data, status){
                // Display the result in the p element inside this card's footer
                $(intervalStatusElement).html(data);
            });
        });
    });
    </script>

</body>

</html>